@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./static/geist.woff2") format("woff2");
}

@font-face {
  font-family: "Podkova";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url("./static/podkova.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Curly";
  font-style: monospace;
  font-display: swap;
  src: url("./static/iosevka-curly.woff2") format("woff2");
}

main {
  font-family: Geist, sans-serif;
  max-width: 50rem;
  padding: 2rem;
  margin: auto;
}

::selection {
  background: #ff2323;
}

body {
  background: #181818;
  color: #ababab;
}

path {
  fill: #d5d5d5;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
  font-family: Iosevka Curly Iaso, monospace;
}

a,
a:active,
a:visited {
  color: #e571f0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.1rem;
  font-family: Podkova, serif;
}

blockquote {
  border-left: 1px solid #bdae93;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  text-align: center;
}

@media (prefers-color-scheme: light) {
path {
  fill: #1a1a1a;
}
body {
  background: #ababab;
  color: #181818;
}

  pre {
    background-color: #ebdbb2;
    padding: 1em;
    border: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0.1rem;
  }

  blockquote {
    border-left: 1px solid #655c54;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
  }
}
